*{
    margin: 0px;
    padding: 0px;
}

.container{
    max-width: 80%;
    background-color: rgb(147, 120, 172);
    text-align: center;
    margin: auto;
    color: white;
    font-weight: bold;
}

input,textarea{
    width: 80%;
    margin: 13px auto;
    font-size: 1rem;
    padding: 4px;
    outline: none;
    border-radius: 5px;
    border: 2px solid black;
    display: block;
}

p{
    font-size: 1.2rem;
}

.container{
    display: flex;
    flex-direction: column;
}
.button{
    font-size: 1.5rem;
    background-color: white;
    padding: 7px 15px;
    margin-bottom: 10px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}
